<div id="app" :style="cssProps">
  <div id="sidebar" v-show="!landing" class="vertical-nav bg-dark text-light">

    <div class="pt-4 px-2">
      <h3>
        <a style="color: var(--tmdb_color); text-decoration: none;" href='/'>TV Charts</a>
      </h3>
    </div>

    <div class="py-4 px-2"> 
      <b-input-group class="mt-3">
        <b-form-input id="searchBar" v-model="filters.show_name" placeholder="Search for a show"></b-form-input>
        <div class="input-group-append">
          <b-button id="letsgo" v-on:click="redirect(filters.show_name)"><b-icon icon="search"></b-icon></b-button>
        </div>
      </b-input-group>
    </div>

    <div class="py-4 px-2">
      <a class="source" target="_blank" :href="trakt_link" >
        <b-list-group class="pb-1">
          <b-list-group-item class="data_banner d-flex align-items-center p-0" style="background-color: var(--trakt_color)">
            <b-avatar class="mr-2" src="./images/trakt.png" variant="null"></b-avatar>
            <span class="mr-auto">Trakt.tv</span>

            <span v-if="api_data.trakt_all_rated == false">
              <b-icon id="trakt_uncertain" class="text-dark mr-1" icon="exclamation-diamond-fill"></b-icon>
              <b-tooltip target="trakt_uncertain" triggers="hover" placement="bottom">
                <span>This show has unrated episodes on Trakt - those will appear as rated 0 in the graph</span>
              </b-tooltip>
            </span>


            <b-badge class="rating mr-1" variant="dark">{{api_data.trakt_rating}}</b-badge>
            <b-form-checkbox v-model="filters.showing.trakt"/>
          </b-list-group-item>
        </b-list-group>
      </a>

      <a class="source" target="_blank" :href='imdb_link'>
        <b-list-group class="pb-1">
          <b-list-group-item class="data_banner d-flex align-items-center p-0" style="background-color: var(--imdb_color)">
            <b-avatar class="mr-2" src="./images/imdb2.png" variant="null"></b-avatar>
            <span class="mr-auto">IMDB</span>

            <span v-if="((api_data.imdb_reliability && api_data.imdb_reliability != 'full' && api_data.imdb_reliability != 'excess') || (api_data.imdb_all_rated == false))">
              <b-icon id="imdb_uncertain" class="text-dark mr-1" icon="exclamation-diamond-fill"></b-icon>
              <b-tooltip target="imdb_uncertain" triggers="hover" placement="bottom">
                <span v-if="api_data.imdb_reliability == 'none'">Unable to retrieve IMDB data for this show</span>
                <span v-if="api_data.imdb_reliability == 'uncertain'">Data discrepancies between sources - there might be errors or missing episodes<br /></span>
                <span v-if="api_data.imdb_reliability == 'incomplete'">Data discrepancies between sources - there might be errors or missing episodes<br /></span>
                <span v-if="!api_data.imdb_all_rated">This show has unrated (0-rated) episodes on IMDB</span>
              </b-tooltip>
            </span>

            <b-badge class="rating mr-1" variant="dark">{{api_data.imdb_rating}}</b-badge>
            <b-form-checkbox v-model="filters.showing.imdb"/>
          </b-list-group-item>
        </b-list-group>
      </a>

      <a class="source" target="_blank" :href='tmdb_link'>
        <b-list-group class="pb-1">
          <b-list-group-item class="data_banner d-flex align-items-center p-0" style="background-color: var(--tmdb_color)">
            <b-avatar class="mr-2" src="./images/tmdb.jpeg" variant="null"></b-avatar>
            <span class="mr-auto">TMDB</span>

            <span v-if="((api_data.tmdb_reliability && api_data.tmdb_reliability != 'full') || (api_data.tmdb_all_rated == false))">
              <b-icon id="tmdb_uncertain" class="text-dark mr-1" icon="exclamation-diamond-fill"></b-icon>
              <b-tooltip target="tmdb_uncertain" triggers="hover" placement="bottom">
                <span v-if="api_data.tmdb_reliability == 'none'">Unable to retrieve TMDB data for this show</span>
                <span v-if="api_data.tmdb_reliability == 'uncertain'">Data discrepancies between sources - there might be errors or missing episodes<br /></span>
                <span v-if="api_data.tmdb_reliability == 'incomplete'">Data discrepancies between sources - there might be errors or missing episodes<br /></span>
                <span v-if="!api_data.tmdb_all_rated">This show has unrated (0-rated) episodes on TMDB</span>
              </b-tooltip>
            </span>

            <b-badge class="rating mr-1" variant="dark">{{api_data.tmdb_rating}}</b-badge>
            <b-form-checkbox v-model="filters.showing.tmdb" />
          </b-list-group-item>
        </b-list-group>
      </a>
    </div>

    <div class="pt-3"> 
      <b-form-select id="season_picker" v-model="filters.selected_season" :options="availableSeasons"></b-form-select>
    </div>

    <div class="actions py-2 px-2"> 
      <b-button id="zoom_icon" class="mr-1" :pressed.sync="filters.zoomed_in"> <b-icon icon="eye"></b-icon> </b-button>
      <b-tooltip target="zoom_icon" triggers="hover" placement="bottom">Zoom</b-tooltip>

      <b-button id="trendlines_icon" class="mr-1" :pressed.sync="filters.trendlines"> <b-icon icon="graph-up"></b-icon> </b-button>
      <b-tooltip target="trendlines_icon" triggers="hover" placement="bottom">Trend lines</b-tooltip>

      <b-button id="seasons_icon"class="mr-1" :pressed.sync="filters.season_view"> <b-icon icon="collection-fill"></b-icon> </b-button>
      <b-tooltip target="seasons_icon" triggers="hover" placement="bottom">Seasons view</b-tooltip>
  
      <b-button id="curve_icon" class="mr-1" :pressed.sync="filters.smooth_curve"> <b-icon icon="alt"></b-icon> </b-button>
      <b-tooltip target="curve_icon" triggers="hover" placement="bottom">Smooth curve</b-tooltip>

      <b-button id="about_icon" v-b-modal.myModal > <b-icon icon="question-circle"></b-icon> </b-button>
      <b-tooltip target="about_icon" triggers="hover" placement="bottom">Contact</b-tooltip>

      <b-modal id="myModal" centered>
        <p>This app was made by <a target="_blank" href="http://www.bastienpruvost.com">Bastien Pruvost</a></p>
        <p>For suggestions, bug reports, or feedback of any kind, feel free to contact me <a target="_blank" href="mailto:bastien.pruvost+tvcharts@gmail.com">here</a></p>
      </b-modal>

    </div>
  </div>

  <div id="page_content">
    <b-button id="sandwich" v-show="!landing" v-on:click="toggleSidebar()"  > <b-icon icon="list"></b-icon> </b-button>

    <div id="landing" v-show="landing">
      <div id="landingTitle"> TV Charts </div>
      <b-input-group class="mt-3">
        <b-form-input id="homeSearchBar" v-model="filters.show_name" placeholder="Search for a show"></b-form-input>
        <div class="input-group-append">
          <b-button id="homeLetsgo" v-on:click="redirect(filters.show_name)"><b-icon icon="search"></b-icon></b-button>
        </div>
      </b-input-group>
      <div id="carousel" class="transitionOut">
        Or try: 
        <a id="carouselShow" href="./?show=Game%20of%20Thrones">Game of Thrones</a>
      </div>
    </div>

    <div v-show="!api_data.episodes && !landing" id="chart_placeholder">
      <div id="errorBlock">
        <b-icon v-show="errorEmoji" id="errorEmoji" icon="emoji-dizzy"></b-icon>
        <div id="errorTitle"></div>
        <div id="loading_msg">
          <img src="images/loading.gif" />
        </div>
      </div>
    </div>

    <div v-show="api_data.episodes" id="title">
      {{api_data.title}}: 
      {{filters.selected_season ? "Season " + filters.selected_season : "All episodes"}}
    </div>
    <GChart v-show="api_data.episodes"
      id="the_chart"
      type="LineChart"
      :data="chartData"
      :options="chartOptions"
      @ready="onChartReady"
    />
    <div id="hidden_div">
    </div>
  </div>
</div>
