#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: flex;
}

#sidebar {
  flex: 0 0 17rem;
  height: 100vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main_color) !important;
}

#page_content {
  position: relative;
  flex: 1;
  min-width: max(calc(100vw - 17rem), 400px);
  background-color: var(--sec_color);
  height: 100vh;
}

#title {
  color: var(--text_color);
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  overflow: visible;
  margin: 10px 50px;
}

#chart_placeholder {
  width: 100%;
  height: 100vh;
  color: var(--text_color);
  position: relative;
}

#the_chart {
  min-width: 400px;
  height: calc(100% - 80px);;
}

#hidden_div {
  display: none !important;
}

.data_banner {
  height:40px;
}

.source {
  color: white !important;
  text-decoration: none !important;
}

.actions .btn {
  background-color: black !important;
  color: white !important;
  border: 1px solid black !important;
  outline: none;
  box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline: none !important;
  box-shadow: none !important;
}

.actions .btn[aria-pressed="true"] {
  background-color: var(--tmdb_color) !important;
  color: black !important;
}

#searchBar {
  background-color: black;
  color: white;
  border: 1px solid black;
}

#letsgo {
  background-color: var(--sec_color) !important;
  color: white !important;
  border: 1px solid black !important;
  outline: none;
  box-shadow: none;
}

#season_picker {
  background-color: black;
  color: white;
  border: 1px solid black;
  width: 200px;
}

#sandwich {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--main_color);
  background-color: var(--sec_color) !important;
  border: 1px solid var(--main_color) !important;
  margin: 8px 5px;
}

#landing {
  width: 400px;
  max-width: 90%;
  margin: auto;
  position: relative;
  top: 30%;
}

#landingTitle {
  font-size: 50px;
  margin-bottom:15px;
  color: white;
}

#carousel {
  padding-top: 15px;
  color: white;
  transition: 0.5s;
}

#carouselShow {
  font-weight: 550;
  font-style: italic;
}

#errorEmoji {
  color:white;
  font-size: 50px;
}

#errorTitle {
  font-weight: bold;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 20px;
}


#errorBlock {
  position: relative;
  top: 40%;
}

#myModal .modal-header {
  background-color: #1c1c1c !important;
  border: none !important;
}

#myModal .modal-body {
  color: grey;
  padding-top: 0px !important;
  background-color: #1c1c1c !important;
}

#myModal .modal-body  a{
  color: lightgrey;
}

#myModal .close {
  color: white !important;
}

#myModal .modal-footer {
  display: none;
}